.user__settings {
    display: flex;
  }
  
  .user__settingsWrapper {
    flex: 9;
    padding: 20px;
  }
  
  .user__settingsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .user__settingsTitleUpdate {
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
  }
  
  .user__settingsTitleDelete {
    color: red;
    font-size: 16px;
    cursor: pointer;
  }
  
  .user__settingsForm {
    display: flex;
    flex-direction: column;
  }
  
  .user__settingsPP {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .user__settingsPP > img {
    height: 70px;
    width: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .user__settingsPPIcon {
    width: 25px;
    height: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
    background-color: lightcoral;
    cursor: pointer;
  }
  
  .user__settingsPPButton:focus {
    outline-style: none;
  }
  
  .user__settingsForm > label {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .user__settingsPPInput {
    width: 30%;
  }
  
  .user__settingsForm > input {
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
  }
  
  .user__settingsSubmitButton {
    align-self: center;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .user__settingsSubmitButton:hover {
    background-color: rgb(1, 114, 114);
  }